body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.generator {
  text-align: center;
}

.generator-password {
  background-color: #007bff;
  margin: 20px 0;
}

.password {
  font-size: 24px;
}

.form {
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  margin-bottom: 10px;
}

.generate-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.generate-btn:hover {
  background-color: #0056b3;
}

.copy-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.copy-btn:hover {
  background-color: #0056b3;
}

.reset-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.reset-btn:hover {
  background-color: #0056b3;
}
